---
layout: layout.html
pageCss: /pages/main/page.css

pagination:
  data: locales.list
  size: 1
  alias: lang

permalink: "{% if lang == locales.default %}/{% else %}/{{ lang }}/{% endif %}"

lang: "{{ lang }}"
pageTitle: "Main"
---

<main>
    {% set t = (i18n.main[lang] if i18n and i18n.main and i18n.main[lang] else {}) %}
{% set base = ('' if lang == locales.default else '/' ~ lang) %}
    <!-- <h1>{{ t.home.h1}}</h1>
    <p>{{ t.home.p1}}</p> -->
    <section class="hero">
        <div class="hero-video">
            <video src="https://framerusercontent.com/assets/Qc6dhglAiYjaI04EEF5RsqHBU.mp4" muted playsinline></video>
        </div>
        <div class="hero__content--bottom">
            <div class="hero__column hero__column--left">
                <div class="hero__description">
                    <p class="hero-reveal">{{ t.home.we_build_brands_websites_and_digital }} <span>{{ t.home.with_intention_clarity_and_care }}</span></p>
                </div>
                <div class="hero__trusted">
                    <p class="hero__trusted-label">{{ t.home.trusted_by }}</p>
                    <section class="hero__trusted-logos">
                        <ul class="hero__trusted-list">
                            <li class="hero__trusted-item"><img src="https://framerusercontent.com/images/VdZYGP1aARcAIODj5sWnjn1vDac.png?width=1770&height=323" alt="arrow" ></li>
                            <li class="hero__trusted-item"><img src="https://framerusercontent.com/images/cKWxePeq3jR2Saj0Xn8To9npdU.png?scale-down-to=512&width=1322&height=329" alt="arrow" ></li>
                            <li class="hero__trusted-item"><img src="https://framerusercontent.com/images/zePNmwKsJJlIjKuawASK80nPtk.png?scale-down-to=512&width=1761&height=336" alt="arrow" ></li>
                            <li class="hero__trusted-item"><img src="https://framerusercontent.com/images/fG5uqOgl43qhhiPH56hF84UrTs.png?scale-down-to=512&width=1300&height=336" alt="arrow" ></li>
                        </ul> 
                    </section>
                </div>
            </div>
            <div class="hero__column hero__column--right">
                {% btn t.home.hero.hero_button, "//", "btn-arrow" %}
            </div>
        </div>
        <div class="hero__content--right">
            <!-- data-copy data-start="top 100%" -->
            <h1 class="text-56 hero__title"><span>{{ t.home.hero.hero_title_1}}</span> {{ t.home.hero.hero_title_2}}</h1>
        </div>
    </section>
    <section class="about">
        <div class="about__content">
            <div class="about__header">
                <p class="about__label">{{ t.home.about.about__label}}</p>
                <div class="about__text">
                    <h2 class="text-56 about__description">
                        {{ t.home.about.about_description}}
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="work">
        <div class="work__title">
            <div class="work__container">
                <h2 class="text-140 work__heading">{{ t.home.latest_work }}</h2>
                <p class="text-16 work__count">(04)</p>
            </div>
        </div>
        <div class="work__body">
            <div class="work__left">
                <div class="work__left-wrapper">
                    <div class="work__meta">
                        <div class="work__indexes">
                            <div class="work__index"><h6 class="text-140">01</h6><div class="work__dot"></div></div>
                            <div class="work__index"><h6 class="text-140">02</h6><div class="work__dot"></div></div>
                            <div class="work__index"><h6 class="text-140">03</h6><div class="work__dot"></div></div>
                        </div>
                        <div class="work__clients">
                            <a href="{{ base }}/works/" class="text-14 work__client"><div class="work__line"></div><div class="work__client-text">{{ t.home.bima }}</div></a>
                            <a href="{{ base }}/works/" class="text-14 work__client"><div class="work__line"></div><div class="work__client-text">{{ t.home.arjuna }}</div></a>
                            <a href="{{ base }}/works/" class="text-14 work__client"><div class="work__line"></div><div class="work__client-text">{{ t.home.mandala }}</div></a>
                        </div>
                    </div>
                    <div class="work__details">
                        <div class="work__titles">
                            <h3 class="text-56 work__title-min">{{ t.home.arjuna }}</h3>
                            <h3 class="text-56 work__title-min">{{ t.home.bima }}</h3>
                            <h3 class="text-56 work__title-min">{{ t.home.mandala }}</h3>
                        </div>
                        <div class="work__descriptions">
                            <p class="text-24 work__description">{{ t.home.website_and_branding_for_ai_automation }}</p>
                            <p class="text-24 work__description">{{ t.home.website_and_branding_for_ai_automation }}</p>
                            <p class="text-24 work__description">{{ t.home.website_and_branding_for_ai_automation }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work__right">
                <div class="work__item">
                    <a href="{{ base }}/works/" class="work__link lm-hover" data-lm="VIEW PROJECT">
                        <div class="work__thumb">
                            <div class="work__image">
                                <img src="/img/home/work-img1.jpg" alt="work-image" >
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work__item">
                    <a href="{{ base }}/works/" class="work__link lm-hover" data-lm="VIEW PROJECT">
                        <div class="work__thumb">
                            <div class="work__image">
                                <img src="/img/home/work-img2.jpg" alt="work-image" >
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work__item">
                    <a href="{{ base }}/works/" class="work__link lm-hover" data-lm="VIEW PROJECT">
                        <div class="work__thumb">
                            <div class="work__image">
                                <img src="/img/home/work-img3.jpg" alt="work-image" >
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="work__body-adaptiv">
            <a href="{{ base }}/works/" class="work__body-adaptiv--link">
                <div class="work__body-adaptiv--indexs">
                    <img src="/img/home/work-img1.jpg" alt="" class="work__adaptiv-img" >
                    <div class="work__adaptiv-meta">
                        <h3 class="work__adaptiv-title">{{ t.home.arjuna }}</h3>
                        <p class="text-24 work__adaptiv-text">{{ t.home.personal_portfolio_website_for_talented_design }}</p>
                    </div>
                </div>
            </a>
            <a href="{{ base }}/works/" class="work__body-adaptiv--link">
                <div class="work__body-adaptiv--indexs">
                    <img src="/img/home/work-img2.jpg" alt="" class="work__adaptiv-img" >
                    <div class="work__adaptiv-meta">
                        <h3 class="work__adaptiv-title">{{ t.home.arjuna }}</h3>
                        <p class="text-24 work__adaptiv-text">{{ t.home.personal_portfolio_website_for_talented_design }}</p>
                    </div>
                </div>
            </a>
            <a href="{{ base }}/works/" class="work__body-adaptiv--link">
                <div class="work__body-adaptiv--indexs">
                    <img src="/img/home/work-img3.jpg" alt="" class="work__adaptiv-img" >
                    <div class="work__adaptiv-meta">
                        <h3 class="work__adaptiv-title">{{ t.home.arjuna }}</h3>
                        <p class="text-24 work__adaptiv-text">{{ t.home.personal_portfolio_website_for_talented_design }}</p>
                    </div>
                </div>
            </a>         
        </div>
        <div class="work__bottom">
            <div class="work__bottom-container">
                {% btn "MORE PROJECTS", "//", "btn-work-more" %}
            </div>
        </div>
    </section>
    <section class="why-us">
        <div class="why-us__bg">
            <img class="why-us__bg-image" src="/img/home/why-us-bg.jpg" alt="background image" >
        </div>

        <div class="why-us__container">
            <div class="why-us__top">
                <div class="why-us__heading">
                    <p class="text-16 why-us__label">{{ t.home.why_us }}</p>
                    <h2 class="text-140 why-us__title">{{ t.home.numbers_dont_lie }}</h2>
                </div>

                <p class="text-24 why-us__description ">{{ t.home.with_a_decade_of_expertise_we }}</p>
            </div>

            <div class="why-us__bottom">

                <div class="why-us__item">
                    <div class="why-us__item-inner">
                        <div class="why-us__divider">
                        </div> 

                        <div class="why-us__metric">
                            <div class="why-us__metric-header">
                                <span class="text-80 why-us__value">200</span>
                                <span class="text-80 why-us__icon">+</span>
                            </div>

                            <p class="text-16 why-us__text">{{ t.home.successful_projects_completed }}</p>
                        </div>
                    </div>
                </div>

                <div class="why-us__item">
                    <div class="why-us__item-inner">
                        <div class="why-us__divider"></div>

                        <div class="why-us__metric">
                            <div class="why-us__metric-header">
                                <span class="text-80 why-us__value">0</span>
                                <span class="text-80 why-us__icon">+</span>
                            </div>

                            <p class="text-16 why-us__text">{{ t.home.years_of_experience_in_creative_industry }}</p>
                        </div>
                    </div>
                </div>

                <div class="why-us__item">
                    <div class="why-us__item-inner">
                        <div class="why-us__divider"></div>

                        <div class="why-us__metric">
                            <div class="why-us__metric-header">
                                <span class="text-80 why-us__value">0</span>
                                <span class="text-80 why-us__icon">%</span>
                            </div>

                            <p class="text-16 why-us__text">{{ t.home.customer_satisfaction_rate }}</p>
                        </div>
                    </div>
                </div>

                <div class="why-us__item">
                    <div class="why-us__item-inner">
                        <div class="why-us__divider"></div>

                        <div class="why-us__metric">
                            <div class="why-us__metric-header">
                                <span class="text-80 why-us__value">0</span>
                                <span class="text-80 why-us__icon">{{ t.home.m }}</span>
                            </div>

                            <p class="text-16 why-us__text">{{ t.home.in_client_revenue_growth }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="testimonial">
        <div class="testimonial__wrapper">
            <div class="testimonial__container">
                <div class="testimonial__content">
                    <div class="testimonial__quote">
                        <span class="testimonial__mark">“</span>
                        <p class="text-56 testimonial__text">
                            {{ t.home.working_with_nakula_felt_personal }} <span>{{ t.home.the_process_was_smooth_the_design }}<span>
                        </p>
                    </div>

                    <div class="testimonial__author-block">
                        <div class="testimonial-polosa"></div>
                        <div class="testimonial__author">
                            <div class="testimonial__avatar">
                                <img src="/img/home/testimonial-photo.jpg" alt="people photo" >
                            </div>

                            <div class="testimonial__meta">
                                <p class="text-24 testimonial__name">{{ t.home.dianna_sulastri }}</p>
                                <p class="text-16 testimonial__role">{{ t.home.founder_at_mandala }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial__media">
                    <div class="testimonial__image">
                        <img src="/img/home/work-img3.jpg" alt="photo" >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services" role="region" aria-label="Services">
        <div class="services__header">
            <h2 class="text-140 services__title">{{ t.home.how_we_can_help }}</h2>
            <p class="text-16 services__label">{{ t.home.services }}</p>
        </div>

        <div class="services__list">
            <div class="services__item-line"></div>
            <div class="services__item-wrapper">
                <div class="services__item">
                <div class="services__item-head">
                    <p class="text-80 services__index">01<span>.</span></p>
                </div>

                <div class="services__item-body">
                    <div class="services__media">
                        <img class="services__image" src="/img/home/services1.jpg" alt="Web design & development" >
                    </div>

                    <div class="services__content">
                        <div class="services__subtitle-adaptiv services__name-adaptiv"><h3 class="services__name">{{ t.home.web_design_development }}</h3>
                            <div class="services__button-p-m">
                                <div class="services__button-line--first services__minus-line"></div>
                                <div class="services__button-line--twise services__minus-line"></div>
                            </div>                       
                        </div>

                        <div class="services__details">
                            <div class="services__intro">
                                <div class="services__subtitle-adaptiv"><p class="text-56 services__subtitle">{{ t.home.web_design_development }}</p>
                                    <div class="services__button-p-m">
                                        <div class="services__button-line--first services__minus-line"></div>
                                        <div class="services__button-line--twise services__minus-line"></div>
                                    </div>
                                </div>

                                <p class="text-24 services__text">{{ t.home.logos_colors_type_your_brand_fully }}</p>
                            </div>

                            <div class="services__tags">
                                <div class="text-16 services__tag">{{ t.home.responsive_design }}</div>
                                <div class="text-16 services__tag">{{ t.home.interaction_design }}</div>
                                <div class="text-16 services__tag">{{ t.home.cms_interaction }}</div>
                                <div class="text-16 services__tag">{{ t.home.seo_optimization }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="services__item-line"></div>
            <div class="services__item-wrapper">
                <div class="services__item">
                <div class="services__item-head">
                    <p class="text-80 services__index">02<span>.</span></p>
                </div>

                <div class="services__item-body">
                    <div class="services__media">
                        <img class="services__image" src="/img/home/services2.jpg" alt="Branding" >
                    </div>

                    <div class="services__content">
                        <div class="services__subtitle-adaptiv services__name-adaptiv"><h3 class="services__name">{{ t.home.branding }}</h3>
                            <div class="services__button-p-m">
                                <div class="services__button-line--first services__minus-line"></div>
                                <div class="services__button-line--twise services__minus-line"></div>
                            </div>                       
                        </div>

                        <div class="services__details">
                            <div class="services__intro">
                                <div class="services__subtitle-adaptiv"><p class="text-56 services__subtitle">{{ t.home.branding }}</p>
                                    <div class="services__button-p-m">
                                        <div class="services__button-line--first services__minus-line"></div>
                                        <div class="services__button-line--twise services__minus-line"></div>
                                    </div>
                                </div>

                                <p class="text-24 services__text">{{ t.home.crafting_visual_identities_that_feel_clear }}</p>
                            </div>

                            <div class="services__tags">
                                <div class="text-16 services__tag">{{ t.home.logo_design }}</div>
                                <div class="text-16 services__tag">{{ t.home.color_system }}</div>
                                <div class="text-16 services__tag">{{ t.home.typography }}</div>
                                <div class="text-16 services__tag">{{ t.home.brand_direction }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="services__item-line"></div>
            <div class="services__item-wrapper">
                <div class="services__item">
                <div class="services__item-head">
                    <p class="text-80 services__index">03<span>.</span></p>
                </div>

                <div class="services__item-body">
                    <div class="services__media">
                        <img class="services__image" src="/img/home/services3.jpg" alt="Social Media" >
                    </div>

                    <div class="services__content">
                        <div class="services__subtitle-adaptiv services__name-adaptiv"><h3 class="services__name">{{ t.home.social_media }}</h3>
                            <div class="services__button-p-m">
                                <div class="services__button-line--first services__minus-line"></div>
                                <div class="services__button-line--twise services__minus-line"></div>
                            </div>                       
                        </div>

                        <div class="services__details">
                            <div class="services__intro">
                                <div class="services__subtitle-adaptiv"><p class="text-56 services__subtitle">{{ t.home.social_media }}</p>
                                    <div class="services__button-p-m">
                                        <div class="services__button-line--first services__minus-line"></div>
                                        <div class="services__button-line--twise services__minus-line"></div>
                                    </div>
                                </div>

                                <p class="text-24 services__text">{{ t.home.branded_templates_and_content_systems_to }}</p>
                            </div>

                            <div class="services__tags">
                                <div class="text-16 services__tag">{{ t.home.instagram_design }}</div>
                                <div class="text-16 services__tag">{{ t.home.story_kits }}</div>
                                <div class="text-16 services__tag">{{ t.home.content_templates }}</div>
                                <div class="text-16 services__tag">{{ t.home.visual_consistency }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="services__item-line"></div>
            <div class="services__item-wrapper">
                <div class="services__item">
                <div class="services__item-head">
                    <p class="text-80 services__index">04<span>.</span></p>
                </div>

                <div class="services__item-body">
                    <div class="services__media">
                        <img class="services__image" src="/img/home/services4.jpg" alt="Motion Design" >
                    </div>

                    <div class="services__content">
                        <div class="services__subtitle-adaptiv services__name-adaptiv"><h3 class="services__name">{{ t.home.motion_design }}</h3>
                            <div class="services__button-p-m">
                                <div class="services__button-line--first services__minus-line"></div>
                                <div class="services__button-line--twise services__minus-line"></div>
                            </div>                       
                        </div>

                        <div class="services__details">
                            <div class="services__intro">
                                <div class="services__subtitle-adaptiv"><p class="text-56 services__subtitle">{{ t.home.motion_design }}</p>
                                    <div class="services__button-p-m">
                                        <div class="services__button-line--first services__minus-line"></div>
                                        <div class="services__button-line--twise services__minus-line"></div>
                                    </div>
                                </div>

                                <p class="text-24 services__text">{{ t.home.thoughtful_animations_that_add_rhythm_clarity }}</p>
                            </div>

                            <div class="services__tags">
                                <div class="text-16 services__tag">{{ t.home.microinteractions }}</div>
                                <div class="text-16 services__tag">{{ t.home.scroll_effects }}</div>
                                <div class="text-16 services__tag">{{ t.home.hover_states }}</div>
                                <div class="text-16 services__tag">{{ t.home.framer_motion }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <div class="process__wrapper">
        <section class="process">
            <div class="process__container">
                    <div class="process__header">
                        <h2 class="text-140 process__title">{{ t.home.how_we_work }}</h2>
                        <p class="text-16 process__label">{{ t.home.process }}</p>
                    </div>

                    <div class="process__steps">
                        <div class="process__step">
                            <h6 class="process__step-index">{{ t.home.step_1 }}<span>.</span></h6>
                            <div class="process__step-content">
                                <p class="text-56 process__step-title">{{ t.home.discovery_phase }}</p>
                                <p class="text-24 process__step-text">{{ t.home.understanding_your_goals_pain_points_audience }}</p>
                            </div>
                        </div>
                        <div class="process__step">
                            <h6 class="process__step-index">{{ t.home.step_2 }}<span>.</span></h6>
                            <div class="process__step-content">
                                <p class="text-56 process__step-title">{{ t.home.project_kickoff }}</p>
                                <p class="text-24 process__step-text">{{ t.home.setting_up_projects_aligning_on_scope }}</p>
                            </div>
                        </div>
                        <div class="process__step">
                            <h6 class="process__step-index">{{ t.home.step_3 }}<span>.</span></h6>
                            <div class="process__step-content">
                                <p class="text-56 process__step-title">{{ t.home.receive_refine }}</p>
                                <p class="text-24 process__step-text">{{ t.home.sharing_initial_designs_gathering_feedback_and }}</p>
                            </div>
                        </div>
                        <div class="process__step">
                            <h6 class="process__step-index">{{ t.home.step_4 }}<span>.</span></h6>
                            <div class="process__step-content">
                                <p class="text-56 process__step-title">{{ t.home.continue_grow }}</p>
                                <p class="text-24 process__step-text">{{ t.home.launching_with_confidence_and_supporting_your }}</p>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>
    <section class="testimonials">
        <div class="testimonials__container">
            <div class="testimonials__header">

                <div class="testimonials__rating">
                    <div class="testimonials__score">
                        <svg width="36" height="34" viewBox="0 0 36 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.661 0.111444C17.7343 -0.0372054 17.9463 -0.0372051 18.0197 0.111444L23.3778 10.9681C23.4069 11.0271 23.4632 11.068 23.5283 11.0775L35.5094 12.8185C35.6734 12.8423 35.7389 13.0439 35.6202 13.1596L26.9507 21.6103C26.9035 21.6563 26.882 21.7225 26.8931 21.7873L28.9397 33.72C28.9678 33.8833 28.7963 34.0079 28.6496 33.9308L17.9334 28.297C17.8751 28.2663 17.8055 28.2663 17.7473 28.297L7.03111 33.9308C6.88438 34.0079 6.71289 33.8833 6.74092 33.72L8.78752 21.7873C8.79865 21.7225 8.77714 21.6563 8.73 21.6103L0.0604476 13.1596C-0.0582558 13.0439 0.00724644 12.8423 0.171291 12.8185L12.1523 11.0775C12.2175 11.068 12.2738 11.0271 12.3029 10.9681L17.661 0.111444Z" fill="#FF4A25"/>
                        </svg>
                        <p class="text-56 testimonials__value">4.9<span class="text-24">/5</span></p>
                    </div>

                    <p class="text-16 testimonials__source">{{ t.home.300_reviews_on }} <span>{{ t.home.clutch }}</span></p>
                </div>

                <div class="testimonials__heading">
                    <p class="text-16 testimonials__label">{{ t.home.testimonials }}</p>
                    <h3 class="text-56 testimonials__title">{{ t.home.we_deliver_datadriven_and_resultfocused_deliverables }}</h3>
                </div>

            </div>

            <div class="testimonials__list">

                <div class="testimonials__item">
                    <div class="testimonials__author">
                        <div class="testimonials__avatar">
                            <img src="/img/home/testimonials-photo.jpg" alt="avatar" >
                        </div>

                        <div class="testimonials__meta">
                            <h4 class="text-24 testimonials__name">{{ t.home.mario_baskoro }}</h4>
                            <p class="text-16 testimonials__role">{{ t.home.cto_of_arjuna }}</p>
                        </div>
                    </div>

                    <div class="testimonials__content">
                        <p class="testimonials__text">{{ t.home.our_socials_used_to_feel_scattered }}</p>

                        <div class="testimonials__mark">"</div>
                    </div>
                </div>
                <div class="testimonials__item">
                    <div class="testimonials__author">
                        <div class="testimonials__avatar">
                            <img src="/img/home/testimonials-photo2.jpg" alt="avatar" >
                        </div>

                        <div class="testimonials__meta">
                            <h4 class="text-24 testimonials__name">{{ t.home.evelyn_widjaja }}</h4>
                            <p class="text-16 testimonials__role">{{ t.home.marketing_lead_at_bima }}</p>
                        </div>
                    </div>

                    <div class="testimonials__content">
                        <p class="testimonials__text">{{ t.home.from_branding_to_the_website_to }}</p>

                        <div class="testimonials__mark">"</div>
                    </div>
                </div>
                <div class="testimonials__item">
                    <div class="testimonials__author">
                        <div class="testimonials__avatar">
                            <img src="/img/home/testimonials-photo3.jpg" alt="avatar" >
                        </div>

                        <div class="testimonials__meta">
                            <h4 class="text-24 testimonials__name">{{ t.home.karina_wulandari }}</h4>
                            <p class="text-16 testimonials__role">{{ t.home.founder_at_batavia }}</p>
                        </div>
                    </div>

                    <div class="testimonials__content">
                        <p class="testimonials__text">{{ t.home.working_with_them_felt_like_having }}</p>

                        <div class="testimonials__mark">"</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pricing" role="region" aria-label="Pricing">
        <div class="pricing__inner">
            <div class="pricing__left">
                <div class="pricing__left-inner">
                    <div class="pricing__intro">
                        <h2 class="text-140 pricing__title">{{ t.home.pricing }}</h2>
                        <p class="text-24 pricing__lead">       {{ t.home.from_launch_to_scale_weve_got }}</p>
                    </div>

                    <div class="pricing__billing">
                        <div class="pricing__billing-toggle"></div>
                        <div class="pricing__billing-option pricing__billing-option--monthly">
                            <p class="text-16 pricing__billing-text">{{ t.home.monthly }}</p>
                        </div>
                        <div class="pricing__billing-option pricing__billing-option--annual">
                            <p class="text-16 pricing__billing-text">{{ t.home.annual }}</p>
                            <p class="text-16 pricing__billing-discount">-20%</p>
                        </div>
                    </div>
                </div>

                <div class="pricing__bespoke">
                    <div class="pricing__bespoke-divider polosa"></div>
                    <div class="pricing__bespoke-content">
                        <div class="pricing__bespoke-heading">
                            <h3 class="pricing__bespoke-title">{{ t.home.bespoke }}</h3>
                            <p class="text-16 pricing__bespoke-text">{{ t.home.perfect_for_specialized_needs_or_earlystage }}</p>
                        </div>
                        {% btn "CONTACT US", "/contact/", "pricing__bespoke-button" %}
                    </div>
                </div>
            </div>
            <div class="pricing__right">
                <div class="pricing-card pricing__card-1">
                    <div class="pricing-card__badge"></div>

                    <div class="pricing-card__head">
                        <div class="pricing-card__title-group">
                            <div class="pricing-card__title-wrapper"><h3 class="pricing-card__title">{{ t.home.starter }}</h3></div>
                            <p class="text-16 pricing-card__subtitle">{{ t.home.perfect_for_solo_founders_and_early }}</p>
                        </div>
                        <div class="pricing-card__divider polosa"></div>
                    </div>

                    <div class="pricing-card__features">
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                    </div>

                    <div class="pricing-card__price">
                        <div class="text-24 pricing-card__currency">$</div>
                        <div class="text-56 pricing-card__amount pricing-card__amount-starter">
                            <div class="price-tag pricing-starter-first"><span>5</span><span>4</span></div>
                            <div class="price-tag pricing-starter-twise"><span>999</span><span>888</span><span>777</span><span>666</span><span>555</span><span>444</span><span>333</span><span>222</span><span>111</span><span>000</span><span>999</span></div>
                        </div>
                        <span class="text-24 pricing-card__period">{{ t.home.mo }}</span>
                    </div>

                    {% btn "BOOK THIS PACKAGE", "/contact/", "pricing-card__button" %}
                </div>
                <div class="pricing-card pricing__card-2">
                    <div class="pricing-card__badge"></div>

                    <div class="pricing-card__head">
                        <div class="pricing-card__title-group">
                            <div class="pricing-card__title-wrapper"><h3 class="pricing-card__title">{{ t.home.starter }}</h3><p class="text-16 pricing-card__min-text">{{ t.home.popular }}</p></div>
                            <p class="text-16 pricing-card__subtitle">{{ t.home.perfect_for_solo_founders_and_early }}</p>
                        </div>
                        <div class="pricing-card__divider polosa"></div>
                    </div>

                    <div class="pricing-card__features">
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                        <div class="pricing-card__feature">
                            <p class="text-24 pricing-card__feature-icon">+</p>
                            <p class="text-24 pricing-card__feature-text">{{ t.home.1_senior_designer }}</p>
                        </div>
                    </div>

                    <div class="pricing-card__price">
                        <div class="text-24 pricing-card__currency">$</div>
                        <div class="text-56 pricing-card__amount pricing-card__amount-growth">
                            <div class="price-tag pricing-growth-first"><span>8</span><span>7</span></div>
                            <div class="price-tag pricing-growth-twise"><span>999</span><span>888</span><span>777</span><span>666</span><span>555</span><span>444</span><span>333</span><span>222</span><span>111</span><span>000</span><span>999</span></div>
                        </div>
                        <span class="text-24 pricing-card__period">{{ t.home.mo }}</span>
                    </div>

                    {% btn "BOOK THIS PACKAGE", "/contact/", "pricing-card__button" %}
                </div>
            </div>
            <div class="pricing__bespoke pricing__bespoke-mobile">
                    <div class="pricing__bespoke-divider polosa"></div>
                    <div class="pricing__bespoke-content">
                        <div class="pricing__bespoke-heading">
                            <h3 class="pricing__bespoke-title">{{ t.home.bespoke }}</h3>
                            <p class="text-16 pricing__bespoke-text">{{ t.home.perfect_for_specialized_needs_or_earlystage }}</p>
                        </div>
                        {% btn "CONTACT US", "/contact/", "pricing__bespoke-button" %}
                    </div>
            </div>
        </div>
    </section>
    {% include "components/faq.html" %}
    <section class="blog-preview">
        <div class="blog-preview__container">
            <div class="blog-preview__header">
                <div class="blog-preview__heading">
                    <h2 class="text-140 blog-preview__title">{{ t.home.latest_insights }}</h2>
                    <p class="text-16 blog-preview__label">{{ t.home.blog }}</p>
                </div>
                 {% btn "SEE ALL", base ~ "/blog/", "btn-arrow blog-preview__button" %}
            </div>

            <div class="blog-preview__body">
                <div class="blog-preview__column blog-preview__column--left lm-blog-preview--animation">
                    <a href="{{ base }}/blog/" class="blog-preview__card lm-hover" data-lm="VIEW BLOG">
                        <div class="blog-preview__card-wrapper">
                            <div class="blog-preview__card-inner">
                                <div class="blog-preview__image">
                                    <div class="blog-preview__image-wp">
                                        <img src="/img/home/blog-photo1.jpg" alt="bg" class="blog-preview__img" >
                                        <div class="blog-preview__overlay"></div>
                                    </div>
                                    <div class="blog-preview__tag">
                                        <p class="text-14 blog-preview__tag-text">{{ t.home.design_strategy }}</p>
                                    </div>
                                </div>
                                <div class="blog-preview__meta">
                                    <p class="text-14 blog-preview__date">{{ t.home.feb_4_2025 }}</p>
                                    <h3 class="blog-preview__card-title">{{ t.home.why_clarity_beats_creativity_in_web }}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="blog-preview__column blog-preview__column--right">
                    <a href="{{ base }}/blog/" class="blog-preview__item lm-hover lm-blog-preview--animation" data-lm="VIEW BLOG">
                        <div class="blog-preview__item-image">
                            <img src="/img/blog/blog-1.jpg" alt="bg" class="blog-preview__item-img" >
                        </div>
                        <div class="blog-preview__item-meta">
                            <p class="text-14 blog-preview__item-date">{{ t.home.feb_42025 }}</p>
                            <div class="blog-preview__item-text">
                                <h3 class="text-24 blog-preview__item-title">{{ t.home.why_motion_design_makes_your_website }}</h3>
                                <p class="text-16 blog-preview__item-excerpt">{{ t.home.motion_helps_your_website_feel_modern }}
                                </p>
                            </div>
                        </div>
                        <div class="blog-preview__tag"><p class="text-14 blog-preview__tag-text">{{ t.home.design_strategy }}</p></div>
                    </a>
                    <a href="{{ base }}/blog/" class="blog-preview__item lm-hover lm-blog-preview--animation" data-lm="VIEW BLOG">
                        <div class="blog-preview__item-image">
                            <img src="/img/home/blog-photo1.jpg" alt="bg" class="blog-preview__item-img" >
                        </div>
                        <div class="blog-preview__item-meta">
                            <p class="text-14 blog-preview__item-date">{{ t.home.feb_42025 }}</p>
                            <div class="blog-preview__item-text">
                                <h3 class="text-24 blog-preview__item-title">{{ t.home.why_motion_design_makes_your_website }}</h3>
                                <p class="text-16 blog-preview__item-excerpt">{{ t.home.motion_helps_your_website_feel_modern }}
                                </p>
                            </div>
                        </div>
                        <div class="blog-preview__tag"><p class="text-14 blog-preview__tag-text">{{ t.home.design_strategy }}</p></div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    {% include "components/work_together.html" %}
    
    <!-- <div style="height: 1vh;"></div> -->
</main>

<script src="/js/home.js"></script>