.faq {
    background-color: var(--color-black);
    z-index: 2;
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    height: min-content;
    padding: 150px var(--padding);
    display: flex;
    position: relative;
    overflow: hidden;
}
.faq__bg {
    z-index: 0;
    flex: none;
    position: absolute;
    inset: 0;
}
.faq__bg img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: fill;
    transform: rotate(180deg);
}
.faq__container {
    flex-flow: row;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 280px;
    width: 100%;
    max-width: 1400px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.faq__header {
    flex-flow: column;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    width: min-content;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.faq__title {
}
.faq__contact {
}
.text-16 {
}
.faq__contact-text {
}
.faq__contact-link {
    text-decoration: none;
    color: var(--color-accent);
}
.faq__list {
    flex-flow: column;
    place-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.faq__item {
    flex: none;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 16px;
    border: 1px solid var(--color-gray-900);
    
}
.faq__question {
    user-select: none;
    cursor: pointer;
    flex-flow: row;
    flex: none;
    place-content: center flex-start;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: min-content;
    padding: 32px;
    display: flex;
    position: relative;
    overflow: visible;
    justify-content: space-between;
}
.faq__question-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.05em;
    line-height: 100%;
    color: var(--color-gray-700);
}
.faq__toggle {
    z-index: 1;
    flex: none;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    
}
.faq__toggle-line {
    width: 14px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
    background-color: var(--color-accent);
    border-radius: 10px;
}
.faq__toggle :last-child{
    width: 2px;
    height: 14px;
    top: calc(50% - 7px);
    left: calc(50% - 1px);
}
.faq__answer {
    flex-flow: column;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 1px;
    padding: 0 32px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.faq__answer-text {
    max-width: 800px;
    color: var(--color-gray-700);
}
@media screen and (max-width: 1201px) {
    .faq__container{flex-direction: column;gap: 32px;}
    .faq__question-title{font-size: 24px;}
    .faq__header{        flex-direction: row;
        align-content: flex-end;
        align-items: flex-end;
        width: 100%;}
}
@media screen and (max-width: 801px) {
    .faq{padding: 100px var(--padding)}
}