.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    background: linear-gradient(180deg, var(--token-62097cca-f151-4f9a-9dc9-13898e353a5a, rgb(10, 10, 10)) 0%, rgba(10, 10, 10, 0.7) 57.22304335585585%, rgba(10, 10, 10, 0) 100%);
    width: 100%;
    align-items: flex-start;
    flex-flow: row;
    place-content: center space-between;
    height: 88px;
    padding: var(--padding);
    display: flex;
    position: relative;
}
.nav__logo {
    height: 100%;
}
.nav__logo img {
    transform-origin: 0% 0% ;
    transform: scale(3);
    height: 100%;
    will-change: transform;
}
.nav__right {
    mix-blend-mode: difference;
    flex-flow: row;
    flex: 1 0 0;
    place-content: center flex-end;
    align-items: center;
    gap: 40px;
    width: 1px;
    max-width: 70%;
    height: min-content;
    padding: 0;
    display: flex;
}
.nav__label {
    flex-flow: row;
    place-content: center;
    align-items: center;
    gap: 40px;
    width: min-content;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.nav__label p{
    white-space: pre;
}
.nav__meta-item {
    flex-flow: row;
    flex: none;
    justify-content: flex-start;
    gap: 6px;
    width: min-content;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.nav__mate-text-wrap{
    flex-flow: column;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    width: min-content;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.nav__meta-item-clock{
    mix-blend-mode: difference;
    flex-flow: column;
    flex: none;
    gap: 4px;
    width: 80px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.nav__meta-h ,.nav__meta-value{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing:-.04em;
}
.nav__meta-text{
    font-size: 14px;
    font-weight: 400;
    letter-spacing:-.04em;
    line-height: 120%;
}
.nav-circle {
    margin-top:6px;
    position: relative;
}
.nav-circle--state {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: relative;
    background-color: rgb(71, 197, 84);
    z-index: 2;
}
.nav-circle--active {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(71, 197, 84);
    top:0;
    opacity:.5;
    animation:pulse 4s infinite;
}
@keyframes pulse{
    0%    { opacity:.5; transform:scale(1); }
    50% { opacity:0;  transform:scale(2.9); } 
    100%  { opacity:0;  transform:scale(2.9); } 
}
.nav__meta-text {
}
.nav__meta-value {
}


.nav__actions {
    align-items: center;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
}
.nav__bg-burger{
    gap: 10px;
    height: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    background-color: var(--color-gray-900, rgb(51, 51, 51));
    border-radius: 0px;
    transform: scale(0.8);
    will-change: transform;
    transition:var(--button-bg-transion);
}
.nav__burger {
    background-color: var(--color-gray-900, rgb(51, 51, 51));
    height: 100%;
    border-radius: 1000px;
    cursor: pointer;
    will-change:transform;
    flex-flow: row;
    place-content: center;
    align-items: center;
    gap: 10px;
    width: 60px;
    padding: 1px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.nav__burger-inner {
    background-color: var(--color-black, rgb(10, 10, 10));
    border-radius: 1000px;
    transform-origin: 50% 50% 0px;
    flex-flow: column;
    flex: 1 0 0;
    place-content: center;
    align-items: center;
    gap: 10px;
    width: 1px;
    height: 100%;
    padding: 12px 10px;
    display: flex;
    position: relative;
}
.nav__burger-items{
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 4px;
    width: 26px;
    height: 16px;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.nav__burger-line {
    background-color: var(--color-gray-600, rgb(202, 202, 202));
    transform: none;
    transform-origin: 50% 50% 0px;
    will-change: transform;
    z-index: 1;
    flex: none;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    transition:var(--button-line-transion);
}
.nav__line-top{top: 4px;}
.nav__line-bottom{bottom: 4px;}
.nav__burger:hover .nav__line-top{left:6px;right:-6px}
.nav__burger:hover .nav__line-bottom{left:-6px;right:6px}

.nav__burger:hover .nav__bg-burger{
    transform:scale(1);
    border-radius:50px;
    bottom: 0px;
}





/* NAV RIGHT ---------------------------*/
.header-menu {
    position: fixed;
    inset: 0 0 0 auto;
    width: 470px;
    max-width: 100%;
    transform: translateX(100%);
    transition: transform .72s cubic-bezier(0.77,0,0.175,1);
    will-change: transform;
}
.header-menu__nav {
    place-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    gap: 0px;
    overflow: hidden auto;
    padding: 0px;
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
}
.header-menu__wrapper{
    border-left: 1px solid var(--color-gray-900);
    background-color: var(--color-black);
    flex: 1 0 0px;
    width: 1px;
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 800px;
    padding: 0px;
    position: relative;
    z-index: 1;
}
.header-menu__top {
    place-content: center space-between;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    height: min-content;
    padding: 24px;
    position: relative;
    width: 100%;
}
.header-menu__title {
    place-content: center flex-start;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 10px;
    height: min-content;
    padding: 0px;
    position: relative;
    width: min-content;
}
.header-menu__cube {
    background-color:var(--color-accent);
    flex: 0 0 auto;
    height: 8px;
    position: relative;
    width: 8px;
}
.header-menu__label {
    color: var(--color-gray-700);
}
.header-menu__close {
    flex: 0 0 auto;
    height: 43px;
}
.header-menu__close-wrap {
    background-color: var(--color-gray-900, rgb(51, 51, 51));
    height: 100%;
    border-radius: 1000px;
    will-change: auto;
    transform: none;
    cursor: pointer;
    will-change:transform;
    flex-flow: row;
    place-content: center;
    align-items: center;
    gap: 10px;
    width: 46px;
    height: 43px;
    padding: 1px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.header-menu__close-inner {
    background-color: var(--color-black, rgb(10, 10, 10));
    border-radius: 1000px;
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    flex-flow: column;
    flex: 1 0 0;
    place-content: center;
    align-items: center;
    gap: 10px;
    width: 1px;
    height: 100%;
    padding: 12px 10px;
    display: flex;
    position: relative;

}
.header-menu__close-bg {
    background-color: var(--color-gray-900, rgb(51, 51, 51));
    border-radius: 0px;
    transform: scale(0.8);
    will-change: transform;
    z-index: 0;
    gap: 10px;
    height: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    transition:var(--button-bg-transion);
}
.header-menu__close-lines {
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 4px;
    width: 26px;
    height: 16px;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.header-menu__close-line {
    will-change: transform;
    background-color: var(--color-gray-600, rgb(202, 202, 202));
    z-index: 1;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    transition:var(--button-line-transion);
}
.header-menu__close-line-top{
    top:7px;
    transform: rotate(30deg);
}
.header-menu__close-line-bottom{
    bottom:7px;
    transform: rotate(-30deg);
}
.header-menu__close:hover .header-menu__close-bg{
    transform: scale(1);
    bottom: 0;
    border-radius: 50px;
}
.header-menu__close:hover .header-menu__close-line-top{transform: rotate(10deg);}
.header-menu__close:hover .header-menu__close-line-bottom{transform: rotate(-10deg);}



/* CENTER-------------------------------- */
.header-menu__content {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-flow: column;
    gap: 10px;
    height: 1px;
    padding: 24px;
    position: relative;
    width: 100%;
}
.header-menu__content-wrap {
    flex: 0 0 auto;
    height: auto;
    position: relative;
    width: 100%;
}
.header-menu__items {
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    gap: 20px;
    height: min-content;
    padding: 0px;
    position: relative;
    width: 100%;
}
.header-menu__item {
    cursor: pointer;
    flex-flow: row;
    place-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: min-content;
    padding: 4px 0;
    text-decoration: none;
    display: flex;
    position: relative;
}
.header-menu__item-text {
    color: var(--color-gray-600);
    font-size: 48px;
    font-family: var(--font-Anton);
    font-weight: 400;
    line-height: 1.2em;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 4px;
}
.menu__underline{
  position:absolute; left:0; right:0; bottom:0;
  height:1px; background:var(--color-accent);
  transform:scaleX(0); transform-origin:left center;
  will-change:transform;
  pointer-events:none;
}

.header-menu__item-cube {
    background-color:var(--color-accent);
    flex: 0 0 auto;
    height: 8px;
    position: relative;
    width: 8px;
    transform: translateY(-2px);
    display: none;
}
.header-menu__divider {
    position: relative;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--color-gray-900, rgb(88, 88, 88));
    border-radius: 0px;
    transform: translateX(0%);
    transform-origin:0% 0%;
}




/* BOTTOM---------------------------------- */
.header-menu__footer {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 32px;
    height: min-content;
    padding: 24px;
    position: relative;
    width: 100%;
}
.header-menu__contact {
    place-content: flex-start center;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 16px;
    height: min-content;
    padding: 0px;
    position: relative;
    width: 100%;
}
.header-menu__contact-label, .header-menu__socials-label{
    font-size: 14px;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: var(--color-gray-850);
    font-weight: 500;
}
.header-menu__contact-link {
    transition: color var(--menu__contact-link-color-transition);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.05em;
    text-decoration: none;
    color: var(--color-accent);
}
.header-menu__contact-link:hover{
    color: var(--color-accent-dark);
}
.header-menu__socials {
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 16px;
    height: min-content;
    padding: 0px;
    position: relative;
    width: 100%;
}
.header-menu__socials-label {
}
.header-menu__socials-list {
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 16px;
    height: min-content;
    padding: 0px;
    position: relative;
    width: 100%;
}
.header-menu__block{
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-flow: column;
    gap: 4px;
    height: min-content;
    padding: 0px;
    position: relative;
    width: 1px;
}
.header-menu__social {
    place-content: flex-start center;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 10px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}
.header-menu__social-link {
    cursor: pointer;
    flex-flow: row;
    place-content: center;
    align-items: center;
    gap: 12px;
    width: min-content;
    height: min-content;
    padding: 4px 0;
    text-decoration: none;
    display:inline-flex;
    position: relative;
    overflow: hidden;
    padding-bottom: 4px;
}
.header-menu__social-text .menu__underline{height:1px;bottom:0px}
.header-menu__social-text {
    font-size:24px;
    font-weight: 500;
    letter-spacing:-.05em;
    line-height: 105%;
    color: var(--color-gray-600);
}
.header-menu__social-svg {
    margin-top: 2px;
    color:  var(--color-gray-700);
    transition: .55s cubic-bezier(.4, 0, 0.2, 1.2);
}

.header-menu__social-svg path {
    stroke: currentColor;
    stroke-width: .5;
    fill:currentColor;
}
.header-menu__social:hover .header-menu__social-svg{
     color: var(--color-gray-600);
}


.lang-switch-link{
    color: var(--color-gray-600);
    text-decoration:none;
}
.lang-switch-link[aria-current="page"]{opacity: .2;cursor:no-drop;}
.header-menu__item[aria-current="page"]{pointer-events:none}
.header-menu__item[aria-current="page"] .header-menu__item-cube{display: block;}
@media screen and (max-width: 1201px) {
    .nav__logo img{transform: scale(1)!important;}
}

@media screen and (max-width: 801px) {
    .nav{height: 68px;align-items: center;}
    .nav__label{position: absolute;top: calc(68px + var(--padding));left: calc(var(--padding));}
}
@media screen and (max-width: 450px) {
    .nav__logo img{max-width:80%;}
    .nav__logo{width: 150px;}
}
