
.blog-post {
    background-color: var(--color-black);
    z-index: 2;
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
    height: min-content;
    padding: 150px var(--padding);
    display: flex;
    position: relative;
    overflow: visible;
    
}
.blog-post__container {
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 72px;
    width: 100%;
    max-width: 900px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.blog-post__header {
    flex-flow: column;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
    opacity: 0;
}
.blog-post__header-main {
    flex-flow: column;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 28px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.blog-post__category {
    background-color: white;
    border-radius: 40px;
    border: 1px solid var(--color-gray-900);
    padding: 6px 8px;
    font-weight:400;
    z-index: 2;
}
.blog-post__intro {
        flex-flow: row;
    flex: none;
    place-content: flex-end flex-start;
    align-items: flex-end;
    gap: 24px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.blog-post__title {
    flex: none;
    width: 60%;
}
.blog-post__subtitle {
    flex: 1 0 0;
    width: 1px;
}
.br-mask{width: 100%;}
.blog-post__divider {
    z-index: 1;
    flex: none;
    width: 100%;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-900);
    transform: scaleX(0%);
    transform-origin:0%;
}
.blog-post__meta {
    flex-flow: row;
    flex: none;
    place-content: center space-between;
    align-items: center;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.blog-post__author {
    flex-flow: row;
    flex: none;
    place-content: center flex-start;
    align-items: center;
    gap: 8px;
    width: min-content;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}
.blog-post__author-avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}
.blog-post__author-name {
    white-space: pre;
    flex: none;
    color: var(--color-gray-700);
    font-weight: 500;
}
.blog-post__date {
    color: var(--color-gray-700);
}
.blog-post__hero {
    border-radius: 8px;
    flex: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color-gray-900);
    aspect-ratio: 1.5082;

}
.blog-post__hero-wrapper{
    position: absolute;
    inset: -100px 0 0;
    will-change: transform;
}
.blog-post__hero-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    transform: scale(1.3);
    will-change: transform;
}
.blog-post__content {
    word-break: break-word;
    word-wrap: break-word;
    flex: none;
    width: 100%;
    height: auto;
    position: relative;
}
.blog-post__content h3 {
    margin-top:40px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.05em;
    line-height:100%;
    color: var(--color-gray-600);
}
.blog-post__content p {
    margin-top:20px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height:105%;
    color: var(--color-gray-700);
}
.blog-post__content :first-child{
    margin: 0;
}
.blog__post-link {
    text-decoration: none;
}
.blog__post {
    justify-content: flex-start;
    gap: 8px;
    height: 420px;
    padding: 8px;
    background-color: var(--color-black);
    width: 100%;
    border-radius: 8px;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-gray-900);
    transition: var(--block-hover-transion);
}
.blog__post-category {
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid var(--color-gray-900);
    padding: 6px 8px;
    font-weight:400;
    z-index: 2;
}
.blog__post-image {
    align-items: center;
    gap: 10px;
    width: 100%;
    display: flex;
    border-radius:4px;
    overflow: hidden;
    transition:var(--block-hover-transion);
}
.blog__post-image-el {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    aspect-ratio: 1.52607;
    transition:var(--block-hover-transion);
}
.blog__post-meta {
    bottom: unset;
    gap: unset;
    left: unset;
    right: unset;
    flex: 1 0 0;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    position: relative;
    z-index: 1;
    flex-flow: column;
    align-items: flex-start;
    display: flex;
    
}
.blog__post-date {
    font-weight:400;
    color: var(--color-gray-600);
    text-transform: uppercase;
}
.blog__post-content {
    flex-flow: row;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
    flex-direction: column;
}
.blog__post-title {
    color: white;
    font-weight:600;
    width: 100%;
}
.blog__post-excerpt {
    color: var(--color-gray-600);
    display: -webkit-box;
    overflow: hidden;
    opacity: 0.7;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    word-break: break-word;
    letter-spacing:-.02em;
    /* text-align: justify; */
}
.post__list{
    flex: none;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: grid;
    position: relative;
}

.post-more{
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    max-width: 1550px;
    height: min-content;
    padding: 150px var(--padding);
    display: flex;
    position: relative;
    overflow: visible;
    left: 50%;
    transform: translateX(-50%);
}
.post-more__container{
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
    max-width: 1550px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
}
.post-more__top{
        flex-flow: row;
    flex: none;
    place-content: flex-end center;
    align-items: flex-end;
    gap: 24px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.post-more__title{
    flex: 1 0 0;
    width: 1px;
}
.post-more__button{
    max-width: 200px;
    height: auto;
    background-color: var(--color-gray-900);
}
.post-more__button .btn__bg{background-color: var(--color-gray-900);}
.post-more__button .btn__label{font-size: 16px;color: var(--color-accent)!important;font-weight: 700;}
.post-more__button .btn-svg{color: var(--color-accent)!important;}
.post-more__button .btn__text{height: 16px;}
.post-more__button .btn__link{background-color: var(--color-black);}
@media screen and (min-width: 801px) {
    .blog__post:hover{background-color: var(--color-black-soft);}
    .blog__post:hover .blog__post-image{transform: scale(.96);}
    .blog__post:hover .blog__post-image-el{transform: scale(1.04);}
}

@media screen and (max-width: 1201px) {
    .blog-post__intro{flex-direction: column;}
    .blog-post__title{width: 100%;font-size: 56px;}
    .blog-post__subtitle{flex: none;width: 100%;}
    .blog-post__heading{font-size: 26px;}
    .post__list{grid-template-columns: repeat(2, minmax(50px, 1fr));}
}
@media screen and (max-width: 801px) {
    .post-more__title{flex: none;width: 100%;}
    .blog-post__title{font-size: 40px;}
    .blog-post{padding: 150px var(--padding) 100px;}
    .post-more{padding: 100px var(--padding)}
    .post__list{grid-template-columns: repeat(1, minmax(50px, 1fr));}
    .post-more__top{flex-direction: column;align-content: flex-start;align-items: flex-start;}
}