.work-together {
    flex-flow: row;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: var(--color-black);
}
.work-together__container {
    flex-flow: column;
    place-content: center;
    align-items: center;
    gap: 0;
    width:100%;
    height: min-content;
    min-height: 700px;
    padding: 150px var(--padding);
    display: flex;
    position: relative;
    overflow: visible;
    
}
.work-together__image {
    z-index: 0;
    flex-flow: row;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    display: flex;
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.work-together__image img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: contain;
}
.work-together__image div{
    background-color: rgb(10, 10, 10);
    mask: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 81%, rgb(0, 0, 0) 100%);
    z-index: 1;
    flex: none;
    position: absolute;
    inset: 0;
    overflow: visible;
}
.work-together__content {
    z-index: 1;
    flex-flow: row;
    flex: none;
    place-content: center space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.work-together__title {
}
.work-together__footer {
    flex-flow: column;
    place-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 400px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.work-together__text {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}
.work-together__button{width: 100%;}
.work-together__button  .btn__block{justify-content: center;}
.work-together__button svg{display: none;}


@media screen and (max-width: 801px) {
    .work-together__content{flex-direction: column;justify-content: center;gap: 200px;}
    .work-together__title ,.work-together__footer{max-width: 600px;}
    .work-together__container{padding: 100px var(--padding);}
    .work-together__image img{transform:scale(2);}
}