:root {
    --font-body: 'Geist', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-Anton: 'Anton', sans-serif;

    /* Base */
    --color-black: #0a0a0a;
    --color-black-soft: #181818;
    --color-black-alpha: #0a0a0acc;

    --color-white: #ffffff;

    /* Gray scale */
    --color-gray-900: #333333;
    --color-gray-800: #555555;
    --color-gray-850: #777777;
    --color-gray-700: #8f8f8f;
    --color-gray-600: #cacaca;

    /* Accent / Brand */
    --color-accent: #ff4925;
    --color-accent-dark: #bd2608;
    --color-accent-soft: #ff492540;

    /* Surfaces */
    --color-surface-dark: #220f0d;


    --button-bg-transion:.55s cubic-bezier(0.16, 1, 0.3, 1);
    --button-line-transion:.45s cubic-bezier(0.22, 1, 0.36, 1);
    --menu__contact-link-color-transition: .3s cubic-bezier(0.44, 0, 0.56, 1);
    --block-hover-transion:.6s cubic-bezier(0.5, 0, 0.2, 1);
    --services-animation-adaptiv:300px;

    --padding:24px;
}
*{margin: 0;padding: 0;box-sizing: border-box;-webkit-font-smoothing: inherit;}
body {font-family: var(--font-body);color: var(--color-gray-600);background-color: var(--color-black);}


html, body {scrollbar-width: none;overflow-x: none;}
html::-webkit-scrollbar,body::-webkit-scrollbar {display: none;}
*::selection{background: var(--color-accent) !important;color: #fff !important;}
*::-moz-selection , *::selection{background: var(--color-accent) !important;color: #fff !important;}

.blog-preview__title, .faq__item, .faq__title, .header-animation, .lm-blog-preview--animation, .pricing-card, .pricing__bespoke-content, .pricing__billing, .pricing__title, .process__step, .process__title, .services__title, .testimonial__author, .testimonial__container > div:first-child, .testimonial__container > div:last-child, .testimonials__item, .testimonials__rating, .why-us__bottom > * > div, .why-us__description, .why-us__title, .work-together__button, .work-together__text, .work-together__title, .work__body-adaptiv, .work__heading { will-change: transform; }

body:not(.is-home) .nav__logo img {transform: scale(1) !important;}

.lm-hover{cursor:none;}
.lm-text{font-weight:700;font-size:16px;white-space:nowrap;}
.lm-wrap{padding:12px 16px;border-radius: 1000px;display: flex;gap: 16px;background-color:var(--color-black-soft);width: 0px;}
.lm-float{position:fixed;top:0;left:0;z-index:1000;display:flex;padding: 1px;background-color:var(--color-gray-600 );border-radius: 1000px;pointer-events:none;transform-origin: 0%;overflow: hidden;height:auto;}
.lm-float svg path{stroke-width: .35;stroke: currentColor;}
.lm-float svg{scale:1.1;transform: translateY(50%);flex:0 0 11px;flex-shrink:0;}

.loader{position:fixed;inset:0;background:var(--color-accent);z-index:9999;display:flex;align-items: center;justify-content: center;overflow: hidden;}
.loader-svg{width:clamp(300px, 20vw ,450px);opacity: 0;}
/* .lt-line{ position:relative; display:block; }
.lt-line::after{ content:""; position:absolute; inset:-0.12em -0.18em; background:currentColor; transform:scaleY(var(--p)); transform-origin:top; pointer-events:none; } */


.text-140 { font-size: 140px; font-family: var(--font-Anton); font-weight: 400; line-height: 100%; text-transform: uppercase; color: var(--color-gray-600); }
.text-80 {  font-size: 80px;font-weight: 600;color: var(--color-gray-600);letter-spacing: -.07em;line-height: 100%;}
.text-56 { font-size: 56px; font-weight: 600; line-height: 100%; letter-spacing: -0.06em; color: var(--color-gray-600); }
.text-24 { font-size: 24px; font-weight: 500; line-height: 105%; letter-spacing: -0.05em; color: var(--color-gray-700); }
.text-16 { font-size: 16px; font-weight: 500; line-height: 1.3em; letter-spacing: -0.02em; }
.text-14 { font-size: 14px; font-weight: 700; line-height: 1.2em; letter-spacing: -0.04em; color: var(--color-gray-900); text-decoration: none; }

.hero-reveal{will-change: filter, opacity, transform;}


.btn { background-color: var(--color-gray-900, rgb(51, 51, 51)); width: 100%; height: 43px; position: relative; border-radius: 1000px; cursor: pointer; align-items: center; display: flex; padding: 1px; border: none; overflow: hidden; }
.btn__link { z-index: 1; flex-flow: row; flex: 1 0 0; place-content: center space-between; align-items: center; width: 100%; height: 100%; padding: 12px; text-decoration: none; display: flex; position: relative; overflow: visible; background-color: var(--color-black, rgb(10, 10, 10)); border-radius: 1000px; }
.btn__bg { z-index: 0; flex: none; gap: 10px; height: 100%; position: absolute; bottom: -80px; left: 0; right: 0; background-color: var(--color-gray-900); border-radius: 0%; transform: scale(.8); will-change: transform; transform-origin: 50% 50% 0px; transition: var(--button-bg-transion); }
.btn__text { flex-flow: column; flex: 1 0 0; place-content: center flex-start; align-items: center; gap: 10px; height: 19px; padding: 0; display: flex; position: relative; overflow: hidden; }
.btn__label { align-items: center; display: flex; position: relative; font-size: 16px; font-weight: 700; letter-spacing: -.04em; line-height: 1.2em; color: var(--color-gray-600); font-family: var(--font-body); transition: var(--button-bg-transion); }
.btn:hover .btn__bg { transform: scale(1); border-radius: 50px; bottom: 0px; }
.btn__block { display: flex; justify-content: center; align-items: center; transition: var(--button-bg-transion); width: 100%; }
.btn-svg { color: var(--color-accent); display: none; height: 13px; width: 13px; transform: translateX(-40%); transition: var(--button-bg-transion); }
.btn-svg path { stroke: currentColor; stroke-width: .35; fill: currentColor; }
.btn:hover .btn__block { transform: translateY(calc(-100% - 10px)); }
.btn-arrow { width: 330px; height: min-content; background-color: var(--color-accent); }
.btn-arrow .btn-svg { display: block; }
.btn-arrow .btn__block { justify-content: space-between; }
.btn-arrow .btn__link { padding: 16px 20px; background-color: var(--color-surface-dark); }
.btn-arrow .btn__label { color: var(--color-accent); font-size: 24px; font-weight: 600; line-height: 100%; }
.btn-arrow .btn__text { height: 24px; }
.btn-arrow .btn__bg { background-color: var(--color-accent); }
.btn-arrow:hover .btn__label, .btn-arrow:hover .btn-svg { color: var(--color-black-soft); }

@media screen and (max-width: 1201px) {
    .lm-float{display: none;}
    .text-140{font-size:100px;}
    .text-56{font-size:48px;}
}
@media screen and (max-width: 801px) {
    :root{--padding:16px;}
    .text-56{font-size: 40px;}
    .text-140{font-size:80px;}
    .text-80{font-size: 56px;}
    body:not(.is-home) .nav__label {display: none !important;}
}
