{% set lang = lang | default(locales.default) %}
{% set t = (i18n.faq[lang] if i18n and i18n.faq and i18n.faq[lang] else {}) %}

<link rel="stylesheet" href="/css/components/faq.css">

<section class="faq">
    <div class="faq__bg"><img src="/img/home/why-us-bg.jpg" alt="faq image bg"></div>
    <div class="faq__container">
        <div class="faq__header">
            <h2 class="text-140 faq__title">{{ t.faq }}</h2>
            <div class="faq__contact">
                <p class="text-16 faq__contact-text">{{ t.got_specific_questions }}</p>
                <a href="" class="text-16 faq__contact-link">{{ t.contact_us }}</a>
            </div>
        </div>
        <div class="faq__list">
            <div class="faq__item">
                <div class="faq__question">
                    <h3 class="faq__question-title">{{ t.whats_your_typical_process_for_a }}</h3>
                    <div class="faq__toggle">
                        <div class="faq__toggle-line"></div>
                        <div class="faq__toggle-line faq__toggle--line-animation"></div>
                    </div>
                </div>
                <div class="faq__answer">
                    <p class="text-16 faq__answer-text">
                        {{ t.we_start_with_a_discovery_phase }}
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__question">
                    <h3 class="faq__question-title">{{ t.how_long_does_a_project_usually }}</h3>
                    <div class="faq__toggle">
                        <div class="faq__toggle-line"></div>
                        <div class="faq__toggle-line faq__toggle--line-animation"></div>
                    </div>
                </div>
                <div class="faq__answer">
                    <p class="faq__answer-text">
                        {{ t.it_depends_on_the_scope_a }}
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__question">
                    <h3 class="faq__question-title">{{ t.do_you_offer_packages_or_custom }}</h3>
                    <div class="faq__toggle">
                        <div class="faq__toggle-line"></div>
                        <div class="faq__toggle-line faq__toggle--line-animation"></div>
                    </div>
                </div>
                <div class="faq__answer">
                    <p class="faq__answer-text">
                        {{ t.both_we_have_a_few_starter }}
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__question">
                    <h3 class="faq__question-title">{{ t.whats_included_in_a_branding_package }}</h3>
                    <div class="faq__toggle">
                        <div class="faq__toggle-line"></div>
                        <div class="faq__toggle-line faq__toggle--line-animation"></div>
                    </div>
                </div>
                <div class="faq__answer">
                    <p class="faq__answer-text">
                        {{ t.our_branding_package_covers_the_essentials }}                    </p>
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__question">
                    <h3 class="faq__question-title">{{ t.can_you_work_with_our_existing }}</h3>
                    <div class="faq__toggle">
                        <div class="faq__toggle-line"></div>
                        <div class="faq__toggle-line faq__toggle--line-animation"></div>
                    </div>
                </div>
                <div class="faq__answer">
                    <p class="faq__answer-text">
                        {{ t.yes_absolutely_were_happy_to_collaborate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
