<link rel="stylesheet" href="/css/components/work_together.css">

<section class="work-together">
    <div class="work-together__container">
        <div class="work-together__image">
            <div></div>
            <img src="img/work-together/work-together-bg.jpg" alt="work together image" loading="lazy">
        </div>

        <div class="work-together__content">
            <h3 class="text-140 work-together__title">LET’S WORK TOGETHER</h3>

            <div class="work-together__footer">
                <p class="text-24 work-together__text">Have a project in mind? We’d love to hear about it.Let’s create something great together!</p>
                {% btn "GET IN TOUCH", "//", "btn-arrow work-together__button" %}
            </div>
        </div>
    </div>
</section>
