{% set lang = lang | default(locales.default) %}
{% set t = (i18n.work_together[lang] if i18n and i18n.work_together and i18n.work_together[lang] else {}) %}

<link rel="stylesheet" href="/css/components/work_together.css">

<section class="work-together">
    <div class="work-together__container">
        <div class="work-together__image">
            <div></div>
            <img src="/img/work-together/work-together-bg.jpg" alt="work together image" loading="lazy">
        </div>

        <div class="work-together__content">
            <h3 class="text-140 work-together__title">{{ t.lets_work_together }}</h3>

            <div class="work-together__footer">
                <p class="text-24 work-together__text">{{ t.have_a_project_in_mind_wed }}</p>
                {% btn "GET IN TOUCH", "//", "work-together__button" %}
            </div>
        </div>
    </div>
</section>
